<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<description> This file defines the configuration for the pattern renderer. </description>
	
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basename" value="com.knitml.renderer.impl.operations"/>
	</bean>
	
	<!-- Uncomment this locale bean to tell the program to use the JVM default. -->
	<bean id="locale" class="java.util.Locale">
		<constructor-arg>
			<value>en_US</value>
		</constructor-arg>
	</bean>
	
	<bean id="renderingContext" class="com.knitml.renderer.context.RenderingContext" scope="prototype">
		<property name="renderer" ref="renderer"/>
		<property name="patternRepository">
			<bean class="com.knitml.renderer.context.impl.DefaultPatternRepository"
				scope="prototype" init-method="initialize">
				<property name="locale" ref="locale"/>
				<property name="messageSourceResourceLoader">
					<bean class="org.springframework.core.io.DefaultResourceLoader"/>
				</property>
			</bean>
		</property>
		<property name="options">
			<bean class="com.knitml.renderer.context.Options" scope="prototype">
				<property name="globalChart" value="true"/>
			</bean>
		</property>
		<property name="patternState">
			<bean class="com.knitml.renderer.context.PatternState" scope="prototype"/>
		</property>
	</bean>
	
	<bean id="renderer" class="com.knitml.renderer.impl.charting.ChartingRenderer">
		<constructor-arg>
			<bean class="com.knitml.renderer.impl.basic.BasicTextRenderer" scope="prototype"
				init-method="initialize">
				<property name="messageSource" ref="messageSource"/>
				<property name="locale" ref="locale"/>
			</bean>
		</constructor-arg>
		<constructor-arg>
			<bean class="com.knitml.renderer.chart.writer.impl.TextArtChartWriterFactory"/>
		</constructor-arg>
		<constructor-arg ref="chartElementTranslatorRegistry"/>
	</bean>
	
	<bean id="chartElementTranslatorRegistry"
		class="com.knitml.renderer.chart.translator.impl.DefaultChartElementTranslatorRegistry">
		<constructor-arg>
			<list>
				<bean
					class="com.knitml.renderer.chart.translator.impl.TextArtLaceTranslator"
				/>
			</list>
		</constructor-arg>
	</bean>
	
</beans>
