<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <bean id="knittingEngine" class="com.knitml.validation.engine.impl.DefaultKnittingEngine" scope="prototype">
        <constructor-arg ref="knittingFactory"/>
    </bean>
    
    <bean id="knittingContext" class="com.knitml.validation.context.KnittingContext" scope="prototype">
        <property name="patternRepository" ref="patternRepository"/>
        <property name="patternState" ref="patternState"/>
        <property name="knittingFactory" ref="knittingFactory"/>
    </bean>
    
    <bean id="patternRepository" class="com.knitml.validation.context.impl.DefaultPatternRepository" scope="prototype"/>
    <bean id="patternState" class="com.knitml.validation.context.impl.DefaultPatternState" scope="prototype"/>
    
    <!-- Singleton beans -->
    <bean id="knittingFactory" class="com.knitml.validation.engine.impl.DefaultKnittingFactory" scope="singleton"/>
    
</beans>
