<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	<description> This file defines the configuration for the pattern renderer.</description>


	<bean id="rendererFactory" class="com.knitml.renderer.impl.charting.ChartingRendererFactory">
		<constructor-arg>
			<bean class="com.knitml.renderer.impl.html.HtmlRendererFactory">
				<constructor-arg ref="symbolAdvisor1"/>
			</bean>
		</constructor-arg>
		<constructor-arg>
			<bean class="com.knitml.renderer.chart.writer.impl.FontBasedHtmlChartWriterFactory"/>
		</constructor-arg>
		<constructor-arg type="java.util.List">
			<ref bean="symbolAdvisor1"/>
		</constructor-arg>
	</bean>

	<bean id="options" class="com.knitml.renderer.context.Options" scope="prototype">
		<property name="globalChart" value="true"/>
		<property name="programMessageSource" ref="messageSource"/>
	</bean>
	
	<bean id="symbolAdvisor1"
		class="com.knitml.renderer.chart.symboladvisor.impl.KnittersSymbolsWSymbolAdvisor"/>

	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames" value="custom-operations,com.knitml.renderer.impl.operations"/>
	</bean>

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
		<property name="location" value="pattern-renderer-config.properties"/>
	</bean>

</beans>
