/* Chart Graph */
.ks-graph {
    margin-bottom: 1em;
}
.ks-graph table {
    border-width: 0px;
    padding: 0px;
    border-style: solid;
    border-color: gray;
    background-color: white;
}
.ks-graph-lhcol {
    width: 1.25em;
    text-align: right;
}
.ks-graph-bodycol {
    width: 1em;
}
.ks-graph-rhcol {
    width: 1.25em;
    text-align: left;
}
.ks-graph-cell {
    border-width: 0px;
    padding: 0px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    font-size: larger;
}
/* Chart Legend */
.ks-legend caption {
    text-align: left;
}
.ks-legend-key {
    border-width: 0px;
    padding: 0px;
    border-style: solid;
    border-color: gray;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    font-size: larger;
}

.ks-font {
    font-family: KSymbolsW;
}
/* cell decoration */
.ks-cell-grey {
    background-color: gray;
    color: gray;
}
