.ar-chart {
    border-width: 0px;
	padding: 0px;
	border-style: solid;
	border-color: gray;
	background-color: white;
}

.ar-cell {
    border-width: 0px;
	padding: 0px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	vertical-align: middle;
    font-family: Knitting Symbols by CET;
    font-size: larger;
}

.ar-legend {
    font-family: Knitting Symbols by CET;
    font-size: larger;
}