.ks-chart {
    border-width: 0px;
	padding: 0px;
	border-style: solid;
	border-color: gray;
	background-color: white;
}

.ks-cell {
    border-width: 0px;
	padding: 0px;
	border-style: solid;
	border-color: gray;
	background-color: white;
	vertical-align: middle;
    font-family: KSymbolsW;
    font-size: larger;
}

.ks-legend {
    font-family: KSymbolsW;
    font-size: larger;
}